body {
    background-color: #000;
    font-family: 'Josefin Sans', sans-serif;
}

.top-bar {
    background-color: black;
}

.nav-logo {
    width: 140px;
    pad
}

.main-logo-box {
    text-align: center;
}

.main-logo {
    padding-top: 7%;
}

.contact-button {
    margin-top: 2%;
    border: solid #2AB1E6 2px;
    border-radius: 2px;
    padding: 2%;
    text-align: center;
    color: #2AB1E6;
    cursor: pointer;
}

.contact-button:hover {
    background-color: grey;
    color: black;
}

.contact-heading {
    font-family: 'Josefin Sans', sans-serif;
    color: white;
    font-size: 1.5em;
    margin-bottom: 2%;
    text-align: center;
}

.submit-box {
    text-align: center;
}

#email {
    font-size: 1em;
    font-family: 'Josefin Sans', sans-serif;
}