
body {
    background-color: #000;
    font-family: 'Josefin Sans', sans-serif;
}

.top-bar {
    background-color: black;
}

.fi-arrow-right {
    color: white;
}

.indent-doc {
    padding-left: 2%;
}

.nav-logo {
    width: 245px;
    padding: 4%;
}

.nav-links {
    background-color: black !important;
    color: #2AB1E6 !important;
    font-family: 'Josefin Sans', sans-serif !important;
    font-size: 1.2em !important;
}

.doc-button {
    background-color: #2AB1E6 !important;
}

.doc-button:hover {
    background-color: #2397C5 !important;
}

.main-logo-box {
    text-align: center;
}

.main-logo {
    padding-top: 7%;
}

.contact-button {
    margin-top: 3%;
    border: solid #2AB1E6 2px;
    border-radius: 2px;
    padding: 2%;
    padding-top: 4%;
    text-align: center;
    color: #2AB1E6;
    cursor: pointer;
}

.contact-button:hover {
    background-color: grey;
    color: black;
}

.contact-heading {
    font-family: 'Josefin Sans', sans-serif;
    color: white;
    font-size: 1.5em;
    margin-bottom: 4%;
    text-align: center;
}

.submit-box {
    text-align: center;
}

#email {
    font-size: 1em;
    font-family: 'Josefin Sans', sans-serif;
}

.document-iframe-landscape {
    margin-left: 1.5%;
}

.document-iframe {
    margin-left: 11%;
}

.document-section-heading {
    color: #2AB1E6;
    font-family: 'Josefin Sans', sans-serif;
    border-bottom: solid #2AB1E6 3px;
    padding-top: 2%;
    margin-left: 2%;
    margin-bottom: 3%;
    padding-bottom: 0px;
    line-height: normal;
    text-align: center;
}

.document-heading {
    color: white;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 2%;
    padding-bottom: 2%;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
}

.accordion a {
    background: #4F4F4F !important;
    color: white !important;
    text-decoration: underline;
}

.copyright-text {
    color: #2AB1E6;
    float: right;
    font-size: .7em;
    padding-top: 3%;
}